body {
	margin: 0;
	padding: 0;
	font-family: 'Source Code Pro', monospace;

}

.aboutMePage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: auto;
	margin-top: 240px;

}



.aboutMe {
	width: 90%;
	color: white;
	display: flex;
	flex-direction: column;
	margin-bottom: 200px;


}

.aboutMePage p {
	width: 80%;
	padding: 10px;
	margin-bottom: 20px;
	border-right: solid 3px transparent;
	text-align: justify;
	font-size: 28px;
}

.aboutMe h1 {
	color: #DAC0A3;
	margin-left: 10px;


}



.aboutMePage h2 {
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 50px;
	margin-left: 10px;


}

.aboutMe h2 {
	position: relative;
	animation: move 4s;
}

@keyframes move {
	0% {
		top: 0;
		left: 0;
	}



	50% {
		top: 0;
		left: 50%;
	}

	100% {
		top: 0;
		left: 0%;
	}
}

.aboutMe ul {
	font-size: 25px;
	text-align: justify;
}

.aboutMe li {
	margin-bottom: 15px;
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity 0.5s, transform 0.5s;


}

.item1 {
	animation: move1 3s forwards;
	animation-delay: 3s;

}

.item2 {
	animation: move1 3s forwards;
	animation-delay: 6s;
}

.item3 {
	animation: move1 3s forwards;
	animation-delay: 9s;
}

.item4 {
	animation: move1 3s forwards;
	animation-delay: 12s;
}


.item5 {
	animation: move1 3s forwards;
	animation-delay: 15s;
}

.item6 {
	animation: move1 3s forwards;
	animation-delay: 18s;
}

.item7 {
	animation: move1 3s forwards;
	animation-delay: 21s;
}

@keyframes move1 {
	from {
		color: #DAC0A3;
		top: 0px;
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		top: 15px;
		;
		opacity: 1;
		transform: translateY(0);
	}

}





/* @keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
} */

.aboutMe li::before {
	content: '•';
	display: inline-block;
	width: 10px;
	height: 10px;
	color: white;
	border-radius: 50%;
	margin-right: 10px;
}

.exprience {
	color: white;
	width: 90%;
	display: flex;
	flex-direction: column;
	margin-bottom: 200px;


}

.skills {
	color: white;
	width: 90%;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;

}

.HardSkillsIcons {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	justify-content: center;
}



.HardSkillsIcons svg {
	display: flex;
	padding: 50px;
	width: 230px;
	height: 230px;
}


@media screen and (min-width: 769px) and (max-width: 2000px) {



	.aboutMePage {
		width: 90%;
		margin: auto;
		margin-top: 100px;

	}

	.aboutMe h1 {
		font-size: 30px;
	}

	.aboutMePage p {
		width: 100%;
		padding: 10px;
		border-right: solid 3px transparent;
		text-align: justify;
		font-size: 16px;
	}

	.aboutMe {
		width: 100%;
		color: white;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		margin-bottom: 100px;


	}

	.aboutMe ul {
		width: 100%;
		font-size: 16px;
		padding: 10px;
	}

	.aboutMePage h2 {
		font-size: 23px;
		padding-top: 20px;
		padding-bottom: 50px;

	}

	.exprience {
		color: white;
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
		margin-bottom: 100px;


	}

	.skills {
		color: white;
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 100px;

	}

	.HardSkillsIcons {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.HardSkillsIcons svg {
		width: 95px;
		height: 95px;
		display: flex;
		justify-content: center;
		padding: 20px;

	}
}

@media screen and (min-width: 320px) and (max-width: 768px) {

	.aboutMePage {
		width: 95%;
		margin: auto;
		margin-top: 100px;

	}

	.aboutMe h1 {
		font-size: 25px;
	}

	.aboutMePage p {
		width: 100%;
		padding: 10px;
		border-right: solid 3px transparent;
		text-align: justify;
		font-size: 16px;
	}

	.aboutMe {
		width: 95%;
		color: white;
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;


	}

	.aboutMe ul {
		width: 100%;
		font-size: 16px;
		padding: 10px;
	}

	.aboutMePage h2 {
		font-size: 23px;
		padding-top: 20px;
		padding-bottom: 50px;

	}

	.exprience {
		color: white;
		width: 95%;
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;

	}

	.skills {
		color: white;
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 50px;

	}

	.HardSkillsIcons {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.HardSkillsIcons svg {
		width: 95px;
		height: 95px;
		display: flex;
		justify-content: center;
		padding: 20px;

	}
}