body {
	margin: 0;
	padding: 0;
	font-family: 'Source Code Pro', monospace;

}

.aboutMePage {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
	margin-top: 230px;

}



.aboutMe {
	width: 90%;
	height: 1000px;
	color: white;
	display: flex;
	flex-direction: column;

}

.aboutMePage p {
	width: 80%;
	padding: 10px;
	margin-bottom: 20px;
	border-right: solid 3px transparent;
	text-align: justify;
	font-size: 28px;
}

.aboutMe h1 {
	color: #D63484;
}

.aboutMePage h2 {
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 50px;

}

.aboutMe ul {
	list-style-type: circle;
	color: #D63484;
	font-size: 25px;

}

.aboutMe li {
	margin-bottom: 15px;
	color: #D63484;

}

.exprience {
	color: white;
	height: 1000px;
	width: 90%;
	display: flex;
	flex-direction: column;

}

.skills {
	color: white;
	height: 1000px;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	 align-items: center;
	 margin-bottom: 50px;

}

.HardSkillsIcons {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	justify-content: center;
}



.HardSkillsIcons svg {
	display: flex;
	padding: 50px;
	width: 230px;
	height: 230px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {

	.aboutMePage {
		width: 90%;
		margin: auto;
		margin-top: 100px;
	
	}
	.aboutMe h1 {
		color: #D63484;
		font-size: 30px;
	}
	.aboutMePage p {
		width: 100%;
		padding: 10px;
		border-right: solid 3px transparent;
		text-align: justify;
		font-size: 16px;
	}

	.aboutMe {
		width: 100%;
		height: 770px;
		color: white;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	
	}

	.aboutMe ul {
		width: 100%;
		color: #D63484;
		font-size: 16px;
padding: 10px;	
	}

	.aboutMePage h2 {
		font-size: 23px;
		padding-top: 20px;
		padding-bottom: 50px;
	
	}

	.exprience {
		color: white;
		height: 710px;
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;

	}
	.skills {
		color: white;
		width: 100%;
		height: 600px;
		display: flex;
		align-items: center;
	}
	.HardSkillsIcons {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.HardSkillsIcons svg {
		width: 95px;
		height: 95px;
		display: flex;
	    justify-content: center;
		padding: 20px;
		
	}
}

@media screen and (min-width: 426px) and (max-width: 768px){



	.aboutMePage {
		width: 70%;
		margin: auto;
		margin-top: 100px;
	
	}
	.aboutMe h1 {
		color: #D63484;
		font-size: 30px;
	}
	.aboutMePage p {
		width: 100%;
		padding: 10px;
		border-right: solid 3px transparent;
		text-align: justify;
		font-size: 16px;
	}

	.aboutMe {
		width: 100%;
		height: 650px;
		color: white;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	
	}

	.aboutMe ul {
		width: 100%;
		color: #D63484;
		font-size: 16px;
padding: 10px;	
	}

	.aboutMePage h2 {
		font-size: 23px;
		padding-top: 20px;
		padding-bottom: 50px;
	
	}

	.exprience {
		color: white;
		height: 570px;
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;

	}
	.skills {
		color: white;
		width: 100%;
		height: 600px;
		display: flex;
		align-items: center;
	}
	.HardSkillsIcons {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.HardSkillsIcons svg {
		width: 95px;
		height: 95px;
		display: flex;
	    justify-content: center;
		padding: 20px;
		
	}
}
