body {
	margin: 0;
	padding: 0;
	
}

.cardsMap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 70%;
	height: 50%;
	list-style: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
}


.card {
	position: relative;
	background-color: white;
	width: 30%;
	height: 85%;
	border: solid 3px;
	border-radius: 10px;
	margin: 10px;
	padding: 9px;
	opacity:1;
}



.projectImg img {
	width: 100%;
	height: 300px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);


}


.cardBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	padding: 10px;
	gap: 20px;
}

.cardTitle {
	color: black;
	font-weight:bolder;
	font-size: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 10px;
}

.cardText p {
	font-size: 18px;
	line-height: 1.5;
	margin-top: 20px;
	margin-bottom: 1.25rem;

}


.btn {
	position: absolute;
	bottom: 3%;
	width: 90%;
	height: 35px;
	background-color: white;
	border: 3px solid;
	border-radius: 10px;
	color: #102C57;
	font-size: large;
	font-weight: bold;

}
@media screen and (min-width: 769px) and (max-width: 2290px){
	.cardsMap {
	width: 90%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;

	gap: 10px;
}

.card {
	position: relative;
	background-color: white;
	width: 400px;
	height: 400px;
	border: solid 3px;
	border-radius: 10px;
	opacity:1;
}

.projectImg img {
	width: 100%;
	height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);


}

.cardBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5px;
	padding: 10px;
	gap: 0px;

}

.cardTitle {
	color: black;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 5px;
}

.cardText p {
	font-size: 12px;
    line-height: 1;
	text-align: justify;
}


.btn {
	position: absolute;
	bottom: 3%;
	width: 90%;
	height: 35px;
	background-color: white;
	border: 1.5px solid;
	border-radius: 10px;
	color: #102C57;
	font-size: medium;
	font-weight: bold;
}

	
}

@media screen and (min-width: 426px) and (max-width: 768px){
	.cardsMap {
		width: 70%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	gap: 170px;
}

.card {
	position: relative;
	background-color: white;
	width: 80%;
	height: 400px;
	border: solid 3px;
	border-radius: 10px;
	opacity:1;
}

.projectImg img {
	width: 100%;
	height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);


}

.cardBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5px;
	padding: 10px;
	gap: 0px;

}

.cardTitle {
	color: black;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 10px;
}

.cardText p {
	font-size: 14px;
    line-height: 1;
	text-align: justify;
}


.btn {
	position: absolute;
	bottom: 3%;
	width: 90%;
	height: 35px;
	background-color: white;
	border: 1.5px solid;
	border-radius: 10px;
	color: #102C57;
	font-size: medium;
	font-weight: bold;
}

	
}


@media screen and (min-width: 320px) and (max-width: 425px) {
	.cardsMap {
		width: 80%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 150px;
}

.card {
	position: relative;
	background-color: white;
	width: 100%;
	height: 400px;
	border: solid 3px;
	border-radius: 10px;
	opacity:1;
}

.projectImg img {
	width: 100%;
	height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);


}

.cardBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5px;
	padding: 10px;
	gap: 0px;

}

.cardTitle {
	color: black;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 10px;
}

.cardText p {
	font-size: 12px;
    line-height: 1;
	text-align: justify;
}


.btn {
	position: absolute;
	bottom: 3%;
	width: 90%;
	height: 35px;
	background-color: white;
	border: 1.5px solid;
	border-radius: 10px;
	color: #102C57;
	font-size: medium;
	font-weight: bold;
}

}
